<div class="image-grid">
  <div
    *ngFor="let image of images$ | async"
    class="image-item"
    (click)="onImageClick(image)"
  >
    <img [src]="image" alt="image" />
  </div>
</div>

<app-image-modal
  *ngIf="selectedImageUrl"
  [selectedImageUrl]="selectedImageUrl"
  (close)="closeModal()"
></app-image-modal>

<div class="custom-pagination">
  <button
    class="pagination-item"
    (click)="prevPage()"
    [disabled]="currentPage === 1"
  >
    &lt;
  </button>
  <span>Page {{ currentPage }} of {{ totalPages$ | async }}</span>
  <button
    class="pagination-item"
    (click)="nextPage()"
    [disabled]="currentPage === (totalPages$ | async)"
  >
    &gt;
  </button>
</div>
